.paragraph {
    border-bottom: 5px black solid;
}

.calloutBox {
    border: 2px black solid;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 75%;
    font-size: larger;
}

.reserveButton {
    margin-top: 50%;
    background-color: red;
    

}

.reviews {
    grid-area: auto;
    border: 3px blue dashed;
    margin-top: 1%;
}
