.spotInfoPage {
}
.pictures {
  display: grid;
  grid-template-areas:
    "a b"
    "c d";
  grid-column-gap: 15px;
  margin: 50px auto;
  width: auto;
  display: grid;
  grid-template-rows: auto;
  row-gap: 50px;
  padding: 1em;
  height: fit-content;
  width: fit-content;
}

.imgContainer {
  width: fit-content;
  height: fit-content;
}

.image {
  border: 2px black solid;
  height: 100%;
}

.hosted {
  font-size: 50px;
}

.moreInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 3px purple solid;
}
.priceNight {
  grid-area: a;
  display: flex;
  justify-content: center;
  margin-right: 40%;
  align-items: center;
}

.price {
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
}

.calloutBox {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  border: 5px gold solid;
  background-color: #CAC4CE;
  margin-bottom: 10px;
  width: 100%;
}
.calloutBox:hover{
  box-shadow: 4px 4px black;
}

.ratingInfo {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  margin-left: 25%;
  column-gap: 6px;
}

.reserveContainer {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-bottom: 15px;
}

.shineButton {
  grid-area: c;
  font-size: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px;
}
.shineButton:hover {
  box-shadow: 5px 5px;
}

.reviewHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3px;
  column-gap: 6px;
}

@media screen and max-width(1400) {
  .ratingInfo {
    margin-left: auto;
  }
}
