.pageTitle {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  margin-bottom: auto;
  padding-left: 40%;
  padding-right: 40%;
}

.firstSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:fit-content
}
.firstSection .caption {
  width: max-content;

}
.firstSection .countryAddress {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.firstSection .countryAddress .errors{
  display: flex;
  
}
.firstSection .countryAddress input {
  width: 100%;
}

/* .cityState {
  display: flex;
  flex-direction: row;
  width: 100%;
} */

/* .cityState label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cityState input {
  width: fit-content;
} */
/* .cityState .city input {
  width: 125%;
  padding-right: 10%;
} */
/* .cityState .state label {
  margin-left: 45px;
} */
/* .cityState .state input {
  width: 25%;
  margin-left: 45%;
} */
.latLng {
  display: flex;
}
.latLng input {
  width: fit-content;
}

.secondSection textarea {
  width: 100%;
}

.images {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.images input {
  display: flex;
  margin-top: 3%;
  width: 100%;
}

.caption {
  font-size: 5px;
}

.errors {
    color: red;
    font-weight: bold;
    font-style: italic;
}


.newSpot {
    margin-top: 10px;
    height: 40px;
    width: 200px;
    background: rgb(234, 8, 8);
    color: rgb(255, 255, 255);
    border: 3px black solid;
    border-style: outset;
    box-shadow: 3px 3px 3px black;
    font-size: 1.1em;
  }

  .newSpot:hover {
    cursor: pointer;
  }
