.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tooltip {
    display: none;
    position: absolute;
    padding: 5px;
    border: 5px solid black;
    cursor: pointer;
    margin: 100px;
}
.element {
    cursor: pointer;
    border: 3px solid black;
}

.element:hover .tooltip {
    display: block;
}

.info {
    display: flex;
    border: 5px solid black;
    margin: 10px;
    top: 50%;
    align-content: center;
    justify-content: left;
}
