.container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  font-size: large;
}

.tiles {
    display: grid;
    grid-template-columns: 1fr
}
.tiles:hover {
  cursor: pointer;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 3px 3px;
}

.tiles:hover .tooltip {
  display: flex;
  justify-content: center;
}

.tooltip {
  display: none;
  position: absolute;
  padding: 5px;
  border: 5px solid black;
  cursor: pointer;
  margin: 175px;
}

.previewImage {
  border: 3px black solid;
  height: 500px;
  width: 100%
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.price {
  display: flex;
}

.price-number {
  font-weight: bold;
}

.night {
  margin-left: 5px;
}
