.navBar {
  display: grid;
  grid-template-areas:
  'a b'
  'c c';
  border-bottom: 3px rgb(131, 15, 233) solid;
  height: 75px;
}

@media screen and max-width(1000) {
  .navBar {
    display: grid;
    grid-template-areas:
    'a b'
    'c c';
    border-bottom: 3px rgb(131, 15, 233) solid;
    height: 75px;
    justify-content: space-around;
  }
}

.createSpot {
  grid-area: b;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10%;
}

.profile {
  grid-area: b;
  background-color: #e8e8e8;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  position: absolute;
  display: flex;
  width: fit-content;
  align-items: center;
  flex-direction: row;
  justify-content: right;
  grid-column-gap: 5px;
  border-bottom: 3px black solid;
  margin-left: 91%;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 2px;
  padding: 3px;
}
.profileMenu  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}
.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfo {

}
.profileButtons {
  display: flex;
  flex-direction: column;
}
.managementButtons {
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  width: fit-content;
  row-gap: 4px;
}
.managementButtons button:hover{
  box-shadow: 3px 3px 3px black;
  background-color: lightgreen;
  cursor: pointer;
}

.profileButton {
  cursor: pointer;
}

.hidden {
  display: none;
}
