.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.hidden {
  display: none;
}
