.form {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-self: auto;
}

.demo {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
  border-bottom: 3px red solid;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5%;
}
